# config 版本，请勿修改
config-version: 1

debug:
  enabled: false # 是否启用插件调试日志

storage:
  backend: sqlite # 可选值：sqlite / mysql

  sqlite:
    file: "data/fetarute.sqlite" # 插件数据目录下的 SQLite 文件名

  mysql:
    db_address: "127.0.0.1" # 数据库地址，含主机/IP
    db_port: 3306 # 数据库端口
    db_table: "fetarute_tc" # 数据库名/Schema
    db_username: "fta" # 数据库用户名
    db_password: "change-me" # 数据库密码
    table_prefix: "fta_" # 可选：表前缀，避免与其他插件冲突
